body {
  color: black;
  font-size: 12pt;
  font-family: sans-serif;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

h1 {
  font: 24pt sans-serif;
  font-weight: bold;
  line-height: 26pt;
  margin-top: 0;
}

h2 {
  font: 16pt sans-serif;
  font-weight: bold;
  line-height: 18pt;
}

h3 {
  font: 14pt sans-serif;
  font-weight: bold;
  line-height: 16pt;
}

h4 {
  font: 12pt sans-serif;
  font-weight: bold;
  line-height: 14pt;
}

.info {
  color: #777;
  margin: 2px 0;
}

.author {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

.affiliation {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

.email {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

.license {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

img {
  box-sizing: border-box;
  max-height: 50vh;
  object-fit: contain;
  padding: 0;
  width: 70%;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #8094d6;
}

a:hover, a:active {
  text-decoration: underline;
}

a.missing:link,
a.missing:visited,
a.missing:active { color: #ca1212; text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  font-family: sans-serif;
  width: 100%;
}

th {
  background-color: #F1502F;
  color: white;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align:left;
}

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}

.page-content {
  display: flex;
  padding: 30px 0;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 20px 0;
}

.site-title:link, .site-title:visited {
  color: #424242;
}

.site-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.site-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: -1px;
  margin: 0;
}

.icon {
  box-sizing: border-box;
  display: inline-block;
  height: 64px;
  padding: 10px 0;
  vertical-align: middle;
  width: 64px;
}

.header-buttons{
  float:right;
}

.header-text {
  float:left;
}

nav {
  min-width: 200px;
}

.sidebar {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  height: auto;
  margin: 10px 0 0 0;
  overflow: auto;
  padding: 0;
  width: 200px;
}

.sidebar .menu-icon {
  display: none;
}

.sidebar a {
  color: black;
  display: block;
  padding: 16px;
  text-decoration: none;
}

.nav-list {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-list a.navhome{
  background-color: #f1502f;
  color: white;
}

.nav-list li.active{
  background-color: #ececec;
}

.nav-list a.active{
  background-color: #ccc;
}

.nav-list a:hover:not(.active){
  background-color: #555;
  color: white;
}

.sub-nav-list{
  font-weight: normal;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.sub-nav-list a{
  padding-left: 26px;
}

.sub-nav-list a.navhome{
  background-color: #f1502f;
  color: white;
}

.sub-nav-list a.active{
  background-color: #ccc;
}

.sub-nav-list a:hover:not(.active){
  background-color: #555;
  color: white;
}
.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 740px;
  padding: 10px 30px;
  width: 95%;
}

.site-header {
  padding-left: 200px;
}

#preview-panel > .site-header {
  padding-left: 0;
}

/**
 * Clearfix
 */
.wrapper:after{
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 600px) {
  nav {
    min-width: 0;
  }

  .site-header {
    padding-left: 0;
  }

  .sidebar {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: auto;
    margin: 0;
    padding: 10px;
    width: auto;
  }

  .wrapper {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sidebar .menu-icon {
    display: block;
    float: left;
    height: 20px;
    line-height: 0;
    padding: 0;
    text-align: center;
    width: 20px;
  }

  .sidebar .menu-icon > svg {
    height: 15px;
    width: 18px;
  }

  .sidebar .menu-icon > svg path {
    fill: #424242;
  }

  .sidebar .nav-list{
    clear: both;
    display: none;
  }

  .sidebar:hover .nav-list{
    display: block;
    padding-bottom: 5px;
  }
}

.gb3dviewer {
  border: 2px solid #000;
  padding: 0;
}

.gallery-thumb img {
  border: 4px solid #555;
  box-sizing: border-box;
  height: 80px;
  margin: 0 10px 10px 0;
  padding: 1px;
  width: auto;
}

.gallery-thumb img:hover {
  border: 4px solid #F1502F;
  cursor:pointer;
}

.gallery-show img {
  box-sizing: border-box;
  border: 4px solid #444;
  height: 50vh;
  object-fit: contain;
  padding: 0;
  width: 70%;
  background: #aaa;
}
